@import "tailwindcss";

:root {
  /* Define your specific color variables here */
  --color-nature-100: #dad7cd;
  --color-nature-200: #a3b18a;
  --color-nature-300: #588157;
  --color-nature-400: #3a5a40;
  --color-nature-500: #344e41;
}

@theme {
  /* Link the CSS variables to Tailwind classes.
     Now you can use: bg-nature-100, text-nature-500, etc.
  */
  --color-nature-100: var(--color-nature-100);
  --color-nature-200: var(--color-nature-200);
  --color-nature-300: var(--color-nature-300);
  --color-nature-400: var(--color-nature-400);
  --color-nature-500: var(--color-nature-500);

  /* Link the Next.js Font Variables you set in layout.tsx */
  --font-serif: var(--font-libre);
  --font-sans: var(--font-poppins);
}

/* Reset layer 
   This ensures your fonts apply to the body 
*/
@layer base {
  body {
    font-family: var(--font-sans);
    @apply bg-white text-nature-500;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
  }
}
